* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-image: url(../Images/Starwars\ Backdrop.jpg);
}

header {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

header h1 {
    font-size: xx-large;
    color: #ffe81f;
}

a {
    color: #ffe81f;
   
}

nav {
    margin-left: 2em;
    color: white;
}

#main {
    display: flex;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    border: solid 4px #ffe81f;
}

.box {
    background-color: #ffe81f;
    text-align: center;
    font-size: xx-large;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

footer img {
    border: none;
}